<!doctype html>
<html ng-app>
  <head>
    <title>Selection</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body>
      <input type="checkbox" ng-model="hideshow">Hide/Show Select
      <div ng-show="hideshow">
        <select ng-model="selectContent">
          <option value="Choice one">First choice</option>
          <option value="Choice two">Second choice</option>
          <option value="Choice three">Third choice</option>
        </select>
        <div>
            {{selectContent}}
        </div>
      </div>  
  </body>
</html>

