<!DOCTYPE html>
<html ng-app="firstLast">
  
  <head lang="en">
    <meta charset="utf-8">
    <title>Using a Controller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="src/app.js"></script>
  </head>
  
  <body ng-controller="FirstLastCtrl">
      First Name: <input ng-model="firstName"><br>    
      Last Name: <input ng-model="lastName"><br>   
      <h4 class="text-info">Hello, {{ getName() }}!</h4>
  </body>

</html>
